@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Course

<h1>Edit @Model.CourseName</h1>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.CourseId)

  @Html.LabelFor(model => model.CourseName)
  @Html.EditorFor(model => model.CourseName)

  @Html.LabelFor(model => model.CourseNumber)
  @Html.EditorFor(model => model.CourseNumber)

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Return to Course List", "Index")</p>